.discord-container {
    background-color: whitesmoke;
    padding: 10px 50px;
    border-radius: 10px;
    width: 50%;
    border: 2px solid black;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container-content {
    display: flex; /* Enables side-by-side layout */
    align-items: flex-start; /* Aligns items vertically at the top */
    width: 100%; /* Full width of the container */
}

.container-text {
    display: flex;
    flex-direction: column; /* Stack text elements vertically */
    justify-content: flex-start; /* Align text elements to the start */
    margin-right: 20px; /* Space between text container and video */
}

.discord-description {
    width: 100%; /* Take the full width for description */
    text-align: left;
}

.dis-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid black;
}

.discord-container h1 {
    margin-top: 0; /* Ensure no extra space at the top */
    margin-bottom: 10px; /* Control space below the h1 */
    text-align: left;
}

.discord-container h4 {
    margin: 0; /* Remove all default margin */
    padding: 5px 0; /* Optional: Add some padding if needed */
    text-align: left;
}

.list-skill {
    display: flex;
    justify-content: center;
    gap: 0; /* Adjust the gap between pills */
}

.container-video {
    width: 75%; /* Adjust the width as necessary */
    margin-top: 10px;
}

.video-demo {
    width: 100%; /* Makes the video responsive */
    border-radius: 10px; /* Optional: adds rounded corners */
    border: 2px solid black;
}

.container-text h1 {
    text-align: left;
}
.container-text h4 {
    text-align: left;
}