.intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-container {
    margin-left: -1100px;          /* Optional: Add a small margin for spacing */
    width: 25%;
}