.discord-container {
    background-color: whitesmoke;
    padding: 10px 50px;
    border-radius: 10px;
    width: 50%;
    border: 2px solid black;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content-with-bullets {
    display: flex;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
}

.text-content {
    width: auto; /* Allow the content to take up only as much space as needed */
    margin-right: 10px; /* Small gap between text and bullet points */
}

.bullet-points {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    text-align: left;
}

.bullet-points li {
    margin-bottom: 15px;
}
.discord-description {
    text-align: left;
}

.vector-image {
    border: 3px solid black;
}

.discord-container h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.discord-container h4 {
    margin: 0;
    padding: 5px 0;
}

.skill-list {
    display: flex;
    justify-content: center;
    gap: 0;
}
